/*font-family: 'Arimo', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;*/

* { border: none; margin: 0; padding: 0; }
*:focus {outline: none;}

html {
    min-height: 100%;
  	position:relative; 
}

body { background: #f2f2f2; user-select: none;	}

#main { margin: 0 auto; padding-top: 50px; overflow: auto; height: 100%; padding-bottom:100px}

button {  cursor: pointer;  }

header {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	font-family: 'Lobster', cursive;
	letter-spacing: 2px;
	padding: 10px;
	background: #fff;
	color: #7f7f7f;
    position: fixed;
	top: 0;
	width: 100%;
	/*margin-left: -12px;*/
	z-index: 2;
}

.nav {                      /* Nav Button */
 	position: absolute;
	top: 12px;
	left: 12px;
  	border: none;
  	background: #fff;
  	color: #4c4c4c;
  	padding: 5px;
  	font-size: 20px;
  	transition: 0.4s;

}

.navt {
	transform: rotate(90deg);
}


#drop {                      /* Nav Div */
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	text-align: center;
	z-index: 1;
	left: 0;
	top: 15;
	opacity: 1;
	background: #efefef;
}

#dhead {                   /* Nav head */
	background: #fff;
	text-align: center;
	color: #7f7f7f;
	font-size: 15px;
	font-family: 'Arimo', sans-serif; 
	letter-spacing: 2px;
	padding: 10px;
	/*border-top: 1px solid #efefef ;*/
	margin-top: 2px;
	margin-bottom: 20px;
}



footer {
	text-align: center;
	background: #fff;
	padding: 10px;
	font-size: 12px;
	font-family: monospace;
	min-height: 100px;
	/*position: fixed;*/
	/*bottom: 0;*/
	display: block;
 	/*width: 100%;*/
 	/*left: 0;*/
 	/*margin-left: -12px;*/
 	color: #7f7f7f;

 	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.lk{
	font-size: 19px;
	text-decoration: none;
	color: #7f7f7f;
	margin-right: 15px;
	margin-left: 19px;
}

#ihome {
	display: block;
    margin: auto;
    width: 100%;
}

.wallz {
	/*background-image: url("../images/wall.jpg") ;*/
	/*background-repeat: no-repeat;
	background-position: center;
	background-size: cover;		*/	
	color: #fff;
	padding: 85px 20px 85px 20px;
	font-family: open sans;
	text-align: center;
	/*background: linear-gradient(to bottom right, #1DE9B6, #3D5AFE);*/
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: wall 280s ease infinite;


}

#x {
	margin: 5px;
}

@keyframes wall {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}}



#content {
	font-family: 'monospace'
	font-size: 18px;
	padding: 30px;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 100px;
}

#logo {
	width: 105px;
	border-radius: 50%;
	margin-left: 8px;
}

.bub {
	text-align: center;
	background: #fafafa;
	border: solid 1px #efefef;
	color: #171717;
	border-radius: 30px;
	padding: 20px 10px 20px 10px;
	overflow: auto;
	font-family: Inconsolata;
	font-weight: lighter;
	font-size: 90%;
	line-height: 25px;


}

.lab {
	text-align: left;
	margin: 30px 0px 30px -15px;
	font-weight: bold;
	font-family: Inconsolata;
	color: #66666f;
}


.tag, .tag2 {
	color: #fff;
	padding: 10px;
	border-radius: 30px;
	display: inline-block;
	margin: 10px 20px 10px 0px;
	font-family: open sans;
}

.tag {
	background: linear-gradient(-45deg, #23A6D5, #23D5AB);
}

.tag2{
	background: linear-gradient(-45deg, #E73C7E, #EE7752);
}
	

.gap {
	margin-bottom: 40px;
	margin-top: 40px;
	/*border-bottom: solid 1px #e3e3e3;*/
	color: #9e9e9e;
}

@media only screen and (max-width: 700px) {
    
    .tag, .tag2 {
		margin: 10px 0px 10px 0px;

    }
   
}

.w3-light-grey {
	margin-bottom: 10px;
	border-radius: 30px;
}

.w3-container{
	border-radius: 30px;
}