* {
	border: none;
}

*:focus {
	outline: none;
}


button, input {
	padding: 10px;
	width: 45%;
	border-radius: 10px;
	margin-bottom: 15px;
}

button:hover {
	background: #efefef;
}

body {
	margin: 0;
	padding: 10px;
	font-family: monospace;
	font-size: 130%;
	max-width: 630px;
	margin: 0 auto;
}


header {
	text-align: center;
	font-weight: bolder;
	letter-spacing: 2px;
	font-size: 160%;
	font-family: monospace;
	padding: 10px;
	margin-bottom: 5px;
}


.ui {
	display: none;
	/*border: 1px solid #e3e3e3;*/
	min-height: 380px;
	line-height: 35px;
	padding: 45px;
	overflow: auto;
	border-radius: 10px;
}

#def {
	padding-top: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: lighter;
}
